---
const { title, url, description, pubDate, author, image, authorImage } =
  Astro.props;
---

<li>
  <a href={url} title={title}>
    <div
      class="flex items-end justify-center rounded-3xl overflow-hidden p-6 bg-dark border border-zinc-700">
      <div class="flex overflow-hidden shadow-thick rounded-2xl">
        <img alt={description} width="560" height="380" src={image} />
      </div>
    </div>
    <div class="p-8">
      <p class="text-zinc-400 text-xs font-light">
        <time datetime={pubDate}>{pubDate}</time> -
        {author}
      </p>
      <h3
        class="mt-3 lg:text-2xl font-medium leading-6 text-white font-display">
        {title}
      </h3>
    </div>
  </a>
</li>
